@model WM_Assignment_Products.Models.Product

@{
    ViewBag.Title = "PrintProductsDB";
}

<h2>Print Products from Database</h2>

<p>
    @Html.ActionLink("Add new product", "InsertDB")
</p>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Category</th>
        <th>Manufacturer</th>
        <th>Supplier</th>
        <th>Price</th>
        <th><u>Manage</u></th>
    </tr>

    @foreach (var p in ViewBag.Products)
    {
        <tr>
            <td>@p.ID</td>
            <td>@p.Name</td>
            <td>@p.Description</td>
            <td>@p.Category</td>
            <td>@p.Manufacturer</td>
            <td>@p.Supplier</td>
            <td>@p.Price</td>

            <td>@Html.ActionLink("Edit", "Edit", new { Id = p.ID })</td>
        </tr>
    }
</table>